<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735804033551-2oj3s89cbgcle14sd8juugr8a0hcmchq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735804033551-2oj3s89cbgcle14sd8juugr8a0hcmchq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735804033551-fj43gr5g6h95og7g6h8bnifl3unl3lh2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQd9rKnESWcmRn6ZnIUy5_sUGDWBvWzuk</string>
	<key>GCM_SENDER_ID</key>
	<string>735804033551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>dating-4wt6qq</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-4wt6qq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735804033551:ios:a66cc6210381081237b17a</string>
</dict>
</plist>